/* Abdelrahman shrief header section*/

/* ------------------CSS Reset--------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start of main classes */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

.title h2 {
    font-size: 2.5rem;
    top: 10%;
    font-weight: 800;
    z-index: 2;
    color: #000;
}

.title h2::before {
    content: "";
    position: absolute;
    font-size: 5rem;
    bottom: -0.5rem;
    z-index: -1;
    color: #eee;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.title h2::after {
    content: "";
    position: absolute;
    bottom: -25%;
    left: 50%;
    width: 20%;
    height: 1px;
    background-color: #000;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.title h2:hover::after {
    width: 40%;
}

.title p {
    font-size: 1.2rem;
}

.btn:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #f25454;
    box-shadow: 0 0 0 0.2rem #f25454;
}

.form-control:focus {
    -webkit-box-shadow: 0 0 0 0.1rem #f25454;
    box-shadow: 0 0 0 0.1rem #f25454;
    border-color: #f25454;
}

.btn-custom {
    padding: 0.8rem 2rem;
    background-color: #f25454;
    border-color: #f25454;
    color: white;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.btn-custom:hover {
    background-color: #f38383;
    border-color: #f38383;
    color: white;
}

/* end - of - main classes */

/* start - of - custom classes */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Poppins", sans-serif;
}

.bg-gray {
    background-color: #fafafa;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-95 {
    width: 95%;
}

/* end - of - custom classes */

/* start - of - header */

.home .navbar {
    top: 0;
    z-index: 2000;
}

.nav-icon a i,
.nav-item a {
    color: #282828;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-icon i:hover,
.nav-item a:hover {
    color: #f25454 !important;
}

.carousel-control-prev {
    opacity: 1;
    top: 50%;
    bottom: auto;
    width: auto;
    border: 1px solid #fff;
}

.carousel-control-next::before {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.carousel-control-prev::before {
    content: "";
    position: absolute;
    left: 100%;
    right: 0;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.carousel-control-next i,
.carousel-control-prev i {
    z-index: 5;
}

.carousel-control-next:hover::before,
.carousel-control-prev:hover::before {
    right: 0;
    left: 0;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    border-color: #f25454;
}

.carousel-control-prev:hover .fa-angle-left,
.carousel-control-next:hover .fa-angle-right {
    color: #f25454;
}

.carousel-control-prev .fa-angle-left,
.carousel-control-next .fa-angle-right {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.carousel-control-next {
    opacity: 1;
    top: 50%;
    bottom: auto;
    right: 100%;
    width: auto;
    -webkit-transform: translate(100%, 101%);
    -ms-transform: translate(100%, 101%);
    transform: translate(100%, 101%);
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.carousel-1 {
    background-image: url(../images/slideshow-1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.carousel-2 {
    background-image: url(../images/slideshow-2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.carousel-3 {
    background-image: url(../images/slideshow-3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

@-webkit-keyframes head-text {
    0% {
        right: -20%;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        right: 32.5%;
        opacity: 1;
    }
}

@keyframes head-text {
    0% {
        right: -20%;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        right: 32.5%;
        opacity: 1;
    }
}

.carousel-item.active h2 {
    width: 35%;
    opacity: 1;
    position: absolute;
    -webkit-animation: head-text 1s ease-in-out;
    animation: head-text 1s ease-in-out;
}

.carousel-item h2 {
    opacity: 0;
}

.header-text {
    z-index: 20;
}

.sm-icon {
    z-index: 50;
    background-color: #1a1a1a;
    top: 20%;
    left: -2px;
    border-radius: 0.5rem;

}

.sm-icon i {
    color: #fff;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.sm-icon:hover i {
    color: #f25454;
}

.mouse {
    z-index: 5;
    position: absolute;
    width: 26px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 13px;
    background: transparent;
    bottom: 30px;
    margin: 0 auto;
    left: 0;
    right: 0;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.mouse:hover {
    border-color: #f25454;
}

.mouse:hover span {
    background-color: #f25454;
}

.sm-mouse {
    position: absolute;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: #fff;
    border-radius: 50%;
    top: 20%;
    left: 0;
    right: 0;
    -webkit-animation: sm-mouse 1.4s infinite;
    animation: sm-mouse 1.4s infinite;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

@-webkit-keyframes sm-mouse {
    0% {
        top: 20%;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 80%;
        -webkit-transform: translatey(-120%);
        transform: translatey(-120%);
        opacity: 0;
    }
}

@keyframes sm-mouse {
    0% {
        top: 20%;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 80%;
        -webkit-transform: translatey(-120%);
        transform: translatey(-120%);
        opacity: 0;
    }
}

.fa-bars {
    color: #1a1a1a;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.fa-bars:hover {
    color: #f25454;
}

.fa-cogs {
    background-color: #1a1a1a;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

/* end - of - header */



/* Ftoh Tarek  section*/
/* ----------------- */
/* End of Ftoh Tarek  section*/



/* Ahmed Goda services section*/

/* --------------------Our Services Section-------------------------- */
.services{
    background-color: transparent;
 }
 .services .serviceshead-section{
     text-align: center;
 }
 
 .services .serviceshead-section .services-head{
     color: #282c3f;
     font-family: 'Carter One', cursive;
     font-size: 3rem;
 }
 
 .services .serviceshead-section .services-head span{
     color: crimson;
 }
 
 .services .serviceshead-section .divider{
     height: 4px;
     width: 80px;
     background-color: crimson;
     margin: 5px auto;
     border-radius: 10px;
 }
 
 .services .serviceshead-section .services-subhead{
     font-family: 'Ubuntu', sans-serif;
     font-size: 1.1rem;
     color: rgb(58, 58, 58);
 }
 
 .services .services-section{
     padding-top: 20px;
     padding-bottom: 20px;
 }
 .services-section.ss{
     background-color: #FFF;
 }
 
 .services .services-section .info{
     margin: 10px;
     padding: 25px;
     text-align: center;
     cursor: pointer;
     box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
     border-radius: 10px;
 }
 .services .services-section .info a{
     text-decoration: none;
 }
 
 
 .services .services-section .info .fa{
     color: crimson;
     font-size: 3rem;
     margin: 6px 0;
 }
 
 .services .services-section .info .info-title{
     font-family: 'Acme', sans-serif;
     color: #282c3f;
     font-size: 2rem;
 }
 
 .services .services-section .info .info-subtitle{
     font-family: 'ubuntu';
     font-size: 1rem;
     color: rgb(1, 1, 1);
 }
 
 .services .services-section .info:hover{
     box-shadow: 0 8px 11x 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
     border: 1px solid rgb(167,167,167);
     background-color: rgba(0,0,0,.5);
     transition: 0.3s ease-out;
     scale:(1.2);
 }
 
 /* End of Ahmed Goda services section*/

 

/* Glal  Mohamed section*/
/* ----------------- */

/* End of Glal  Mohamed section*/


/* Ahmed Atef services section*/
/* ----------------- */
/* End of Ahmed Atef services section*/



/* start mohamed omar section */
.chef-img{
    position: relative;
}
.chef-title{
    background-color:  #0c1023;
    width: 80%;
    position: absolute;
    bottom: -10%;
    right: 10%;
    transition: all 0.7s;
}
.chef:hover .chef-title{
    background-color: #eaa023;
    position: absolute;
    bottom: 7%;
    right: 10%;
}
/*end mohamed omar section */
